@charset "UTF-8";


.border1_black { border-color:black; border:1px solid; }
.border3_black { border-color:black; border:3px solid; }
.border5_black { border-color:black; border:5px solid; }

.inline-flex { display: inline-flex; }

.dis_contents { display: contents; }


.align_center{ text-align:center; }
.align_left{ text-align:left; }
.align_right{ text-align:right; }

.space01 { width:100%; height:1px; clear:both;}
.space05 { width:100%; height:5px; clear:both;}
.space10 { width:100%; height:10px; clear:both;}
.space15 { width:100%; height:15px; clear:both;}
.space20 { width:100%; height:20px; clear:both;}
.space25 { width:100%; height:25px; clear:both;}
.space30 { width:100%; height:30px; clear:both;}
.space35 { width:100%; height:35px; clear:both;}
.space40 { width:100%; height:40px; clear:both;}
.space50 { width:100%; height:50px; clear:both;}
.space60 { width:100%; height:60px; clear:both;}
.space70 { width:100%; height:70px; clear:both;}
.space80 { width:100%; height:80px; clear:both;}
.space90 { width:100%; height:90px; clear:both;}
.space100 { width:100%; height:100px; clear:both;}
.space160 { width:100%; height:160px; clear:both;}
.space170 { width:100%; height:170px; clear:both;}

.fl {float:left !important;}
.fr {float:right !important;}
.fn {float:none !important;}
.clear {clear:both !important;}
.block { display:block !important; }

/* 가로사이즈 (테이블 col class로 사용 필요할 경우 class 추가) */ 
.width30 { width:30px !important;}
.width40 { width:40px !important;}
.width50 { width:50px !important;}
.width55 { width:55px !important;}
.width60 { width:60px !important;}
.width61 { width:61px !important;}
.width70 { width:70px !important;}
.width80 { width:80px !important;}
.width85 { width:85px !important;}
.width90 { width:90px !important;}
.width100 { width:100px !important;}
.width110 { width:110px !important;}
.width120 { width:120px !important;}
.width130 { width:130px !important;}
.width140 { width:140px !important;}
.width150 { width:150px !important;}
.width160 { width:160px !important;}
.width170 { width:170px !important;}
.width180 { width:180px !important;}
.width190 { width:190px !important;}
.width194 { width:194px !important;}
.width200 { width:200px !important;}
.width210 { width:210px !important;}
.width220 { width:220px !important;}
.width230 { width:230px !important;}
.width240 { width:240px !important;}
.width250 { width:250px !important;}
.width260 { width:260px !important;}
.width270 { width:270px !important;}
.width280 { width:280px !important;}
.width290 { width:290px !important;}
.width300 { width:300px !important;}
.width310 { width:310px !important;}
.width315 { width:315px !important;}
.width320 { width:320px !important;}
.width330 { width:330px !important;}
.width340 { width:340px !important;}
.width350 { width:350px !important;}
.width360 { width:360px !important;}
.width370 { width:370px !important;}
.width380 { width:380px !important;}
.width390 { width:390px !important;}
.width400 { width:400px !important;}
.width450 { width:450px !important;}
.width500 { width:500px !important;}
.width507 { width:507px !important;}
.width520 { width:520px !important;}
.width530 { width:530px !important;}
.width550 { width:550px !important;}
.width566 { width:566px !important;}
.width570 { width:570px !important;}
.width573 { width:573px !important;}
.width580 { width:580px !important;}
.width600 { width:600px !important;}
.width650 { width:650px !important;}
.width700 { width:700px !important;}
.width790 { width:790px !important;}
.width797 { width:797px !important;}
.width800 { width:800px !important;}
.width900 { width:900px !important;}
.width930 { width:930px !important;}
.width950 { width:950px !important;}
.width1000 { width:1000px !important;}
.widthauto { width:auto !important;}
.width5p { width:5% !important;}
.width10p { width:10% !important;}
.width15p { width:15% !important;}
.width20p { width:20% !important;}
.width25p { width:25% !important;}
.width30p { width:30% !important;}
.width35p { width:35% !important;}
.width38p { width:38% !important;}
.width40p { width:40% !important;}
.width45p { width:45% !important;}
.width48p { width:48% !important;}
.width49p { width:49% !important;}
.width50p { width:50% !important;}
.width55p { width:55% !important;}
.width60p { width:60% !important;}
.width65p { width:65% !important;}
.width70p { width:70% !important;}
.width75p { width:75% !important;}
.width80p { width:80% !important;}
.width85p { width:85% !important;}
.width90p { width:90% !important;}
.width95p { width:95% !important;}
.width98p { width:98% !important;}
.width100p { width:100% !important;}

/* 가로사이즈 (테이블 col class로 사용 필요할 경우 class 추가) */ 
.height30 { height:30px !important;}
.height40 { height:40px !important;}
.height50 { height:50px !important;}
.height55 { height:55px !important;}
.height60 { height:60px !important;}
.height61 { height:61px !important;}
.height70 { height:70px !important;}
.height80 { height:80px !important;}
.height85 { height:85px !important;}
.height90 { height:90px !important;}
.height100 { height:100px !important;}
.height110 { height:110px !important;}
.height120 { height:120px !important;}
.height130 { height:130px !important;}
.height140 { height:140px !important;}
.height150 { height:150px !important;}
.height160 { height:160px !important;}
.height170 { height:170px !important;}
.height180 { height:180px !important;}
.height190 { height:190px !important;}
.height194 { height:194px !important;}
.height200 { height:200px !important;}
.height210 { height:210px !important;}
.height220 { height:220px !important;}
.height230 { height:230px !important;}
.height240 { height:240px !important;}
.height250 { height:250px !important;}
.height260 { height:260px !important;}
.height270 { height:270px !important;}
.height280 { height:280px !important;}
.height290 { height:290px !important;}
.height300 { height:300px !important;}
.height310 { height:310px !important;}
.height315 { height:315px !important;}
.height320 { height:320px !important;}
.height330 { height:330px !important;}
.height340 { height:340px !important;}
.height350 { height:350px !important;}
.height360 { height:360px !important;}
.height370 { height:370px !important;}
.height380 { height:380px !important;}
.height390 { height:390px !important;}
.height400 { height:400px !important;}
.height450 { height:450px !important;}
.height500 { height:500px !important;}
.height507 { height:507px !important;}
.height520 { height:520px !important;}
.height530 { height:530px !important;}
.height550 { height:550px !important;}
.height566 { height:566px !important;}
.height570 { height:570px !important;}
.height573 { height:573px !important;}
.height580 { height:580px !important;}
.height600 { height:600px !important;}
.height650 { height:650px !important;}
.height700 { height:700px !important;}
.height790 { height:790px !important;}
.height797 { height:797px !important;}
.height800 { height:800px !important;}
.height900 { height:900px !important;}
.height930 { height:930px !important;}
.height950 { height:950px !important;}
.height1000 { height:1000px !important;}
.height1250 { height:1250px !important;}
.height1500 { height:1500px !important;}
.height1750 { height:1750px !important;}
.height2000 { height:2000px !important;}
.heightauto { height:auto !important;}
.height5p { height:5% !important;}
.height10p { height:10% !important;}
.height15p { height:15% !important;}
.height20p { height:20% !important;}
.height25p { height:25% !important;}
.height30p { height:30% !important;}
.height35p { height:35% !important;}
.height38p { height:38% !important;}
.height40p { height:40% !important;}
.height45p { height:45% !important;}
.height48p { height:48% !important;}
.height49p { height:49% !important;}
.height50p { height:50% !important;}
.height55p { height:55% !important;}
.height60p { height:60% !important;}
.height65p { height:65% !important;}
.height70p { height:70% !important;}
.height75p { height:75% !important;}
.height80p { height:80% !important;}
.height85p { height:85% !important;}
.height90p { height:90% !important;}
.height95p { height:95% !important;}
.height98p { height:98% !important;}
.height100p { height:100% !important;}

/* color */
.color01 { color:#22a824 !important; } /* green */
.color02 { color:#005dba !important; } /* blue */
.color03 { color:#6a469c !important; } /* purple */
.color04 { color:#3c3c3c !important; } /* black */
.color05 { color:#ff3232 !important; } /* red */

/* margin */
.mg0 { margin:0 !important; }
.mg0auto { margin:0 auto !important; }

.mr0 { margin-right:0 !important; }
.mr05 { margin-right:5px !important; }
.mr10 { margin-right:10px !important; }
.mr20 { margin-right:20px !important; } 
.mr30 { margin-right:30px !important; } 
.mr40 { margin-right:40px !important; } 
.mr50 { margin-right:50px !important; } 

.ml0 { margin-left:0 !important; } 
.ml05 { margin-left:5px !important; } 
.ml10 { margin-left:10px !important; } 
.ml20 { margin-left:20px !important; } 
.ml30 { margin-left:30px !important; } 
.ml40 { margin-left:40px !important; } 
.ml50 { margin-left:50px !important; } 

.mt0 { margin-top:0 !important; }
.mt05 { margin-top:5px !important; }
.mt10 { margin-top:10px !important; }
.mt20 { margin-top:20px !important; }
.mt30 { margin-top:30px !important; }
.mt40 { margin-top:40px !important; }
.mt50 { margin-top:50px !important; }

.mb0 { margin-bottom:0 !important; }
.mb05 { margin-bottom:5px !important; }
.mb10 { margin-bottom:10px !important; }
.mb20 { margin-bottom:20px !important; }
.mb30 { margin-bottom:30px !important; }
.mb40 { margin-bottom:40px !important; }
.mb50 { margin-bottom:50px !important; }

/* padding */
.pd0 { padding:0 !important; }
.pd05 { padding:5px !important; }
.pd10 { padding:10px !important; }
.pd15 { padding:15px !important; }
.pd20 { padding:20px !important; }
.pd25 { padding:25px !important; }
.pd30 { padding:30px !important; }

.pr0 { padding-right:0 !important; }
.pr05 { padding-right:5px !important; }
.pr10 { padding-right:10px !important; }
.pr20 { padding-right:20px !important; } 
.pr30 { padding-right:30px !important; } 
.pr40 { padding-right:40px !important; } 
.pr50 { padding-right:50px !important; } 

.pl0 { padding-left:0 !important; } 
.pl05 { padding-left:5px !important; } 
.pl10 { padding-left:10px !important; } 
.pl20 { padding-left:20px !important; } 
.pl30 { padding-left:30px !important; } 
.pl40 { padding-left:40px !important; } 
.pl50 { padding-left:50px !important; } 

.pt0 { padding-top:0 !important; }
.pt05 { padding-top:5px !important; }
.pt10 { padding-top:10px !important; }
.pt20 { padding-top:20px !important; }
.pt30 { padding-top:30px !important; }
.pt40 { padding-top:40px !important; }
.pt50 { padding-top:50px !important; }

.pb0 { padding-bottom:0 !important; }
.pb05 { padding-bottom:5px !important; }
.pb10 { padding-bottom:10px !important; }
.pb20 { padding-bottom:20px !important; }
.pb30 { padding-bottom:30px !important; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px !important; }

