	#loginmask {
      position:absolute;
      z-index:9000;
      background-color:#000;
      display:none;
      left:0;
      top:0;
    }
    
    #loginformBox {
      position:absolute;
      z-index:9001;
      display:none;
      left:30%;
      top:30%;
      width:35%;
      height:250px; 
      background:#fff; margin-left: 50px; margin-top:30px; padding:25px 0px 25px 25px; border-style:solid; border-color:black; border-radius:5px; 
    }