@charset "UTF-8";
/* CSS Document */

/*바디 배경 관련*/
head { margin:0; }
body {
			background: url( ../image/blackback.jpg) fixed 50% 50%;
			margin:0;
			clear:both;
			
		}
table { border-collapse:collapse; border-spacing:0;word-break:break-all; }
		
/* 셀렉트박스 */
select { height:36px; border:1px solid #c8c8c8 !important; color:#555; -webkit-appearance:none; -moz-appearance:none; appearance:none; background:url(../image/downfinder.png) no-repeat 92% 50% #fff; cursor:pointer; vertical-align: middle}
select::-ms-expand { display:none; }

i {position:relative !important; bottom: 4px !important;}

input[type="text"], input[type="password"], input[type="number"], input[type="email"]{ font-family:'Noto Sans KR', san-serif; font-size:1.0rem; letter-spacing:-0.2px; padding:0 8px; height:34px; border: 1px solid #c8c8c8 !important; background: #fff }
		

.contents_align_div{ width:96%; max-width: 1840px; margin:0;  height:350px; }
.contents_align_div_mv { width:96%; max-width: 1840px; margin:0; }
		
.contents_wrap { width:96%; max-width: 1840px; margin:50px auto; background:#fff; margin-top:30px; margin-right:30px; height:auto; padding-bottom:30px; }

.contents_wrap_t1 { background:#fff; height:250px; margin-left: 50px; margin-top:30px; padding:25px 0px 25px 25px; border-style:solid; border-color:black; border-radius:5px; }
.contents_wrap_t2 { height:250px; background:#fff; margin-left: 50px; margin-top:30px; padding:25px 25px 25px 25px; border-style:solid; border-color:black; border-radius:5px;
 	 }
.contents_wrap_t3 { 
						height:250px; background:#fff; margin-left: 50px; margin-top:30px; padding:25px 0px 25px 25px; border-style:solid; border-color:black; border-radius:5px;
 					}
 					
.contents_align_div_ry { background:#fff; height:250px; margin-left: 50px; margin-top:30px; padding:25px 0px 25px 25px; border-style:solid; border-color:black; border-radius:5px; } 					

.contents_wrap_mv { 
					height:200px; margin-left: 50px; background:#fff; margin-top:30px; margin-bottom:30px; padding:25px 0px 25px 25px; border-style:solid; border-color:black; border-radius:5px;
				  }

.contents { width:94%; clear:both;  background:#fff; margin:0 auto; }
.contents h3 { font-size:1.5rem; margin:20px 0 10px 0; clear:both; padding-top: 10px; padding-left:26px; letter-spacing:-0.5px; }
.contents h3.fl { margin-top: 0}
.contents h6 { font-size:1.5rem; margin:30px 0 10px 0; clear:both; letter-spacing:-0.3px; }
.contents h6 i { color:#6dc33c; }
.contents .content_txt { font-size:1.1rem; line-height:1.6; margin:20px 0 0 20px; }
.contents .content_txt02 { font-size:1.6rem; line-height:1.7; margin:20px 0 0 0; }


.contents_login { width:80%; min-height:100px; clear:both;  background:#fff; margin:0 auto; }

.scrollHidden {height:100%; min-height:100%; overflow:hidden !important; touch-action:none;}

/*templateonemenu css 부분*/
.my_icon{ width:30px; height:30px;}

.mes_contents { width:200px; height:200px; clear:both;  background:#555; margin:0 auto; border-radius:20px; }

.write_contents { width:150px; height:40px; clear:both;  background:#eee; margin:0 auto; margin-bottom:50px; padding-top:10px; padding-left:20px; border-style:solid; border-color:black; border-radius:20px; -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none; }
.write_contents span {position:relative; bottom:7px;}
.write_contents:active{border-color:gray; background-color:gray;}

/* 메신저 글쓰기기능을 위한 div*/
.vaild_effect{position:fixed; z-index:10; width:100vw; height:100vh; background-color:black; opacity: 0.5;  text-align:center; visibility: hidden; }
.write_messenger { position:fixed;  top:50%; left:50%; transform:translate(-50%,-50%); padding-top:10px; padding-left:20px; padding-right:20px; width:330px; height:290px; visibility: hidden;}
.write_messenger { z-index:11; background-color:white; border-style:solid;   border-color:black; border-radius:20px; -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none; }

.write_button {float: right; margin-top:20px; font-size:0.8rem !important; padding:0 13px; height:36px; border:1px solid #b2bccb; vertical-align:top; transition:.3s; cursor:pointer; background:#fff; color:#627ca6;}
.write_button:hover { background:#fff; transition:.3s; border:1px solid #60779d; color:#60779d !important; cursor:pointer; }

.nonedisplay{ display:none; }

.xicon {width:20px; height:20px; float: right; }
.fileicon{width:75px; height:75px; float:left;}
.fileicon:hover{border-style:solid; border-color:black; }
/* 메신저 게시물을 보기 위한 div */
.messenger_One{ position:relative; top:50%; left:50%; transform:translate(-50%,-50%); padding-top:10px; padding-left:20px; padding-right:20px; width:550px; height:180px; }
.messenger_One{  background-color:white; border-style:solid;   border-color:black; border-radius:20px; -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none; }

.messenger_Space{position:relative; top:100px;}

.update_Box{position:absolute; left: 80%; }


/* 스크린샷 뷰를 위한 클래스 */
.screen_View { position:fixed; top:50%; left:50%; z-index:12; transform:translate(-50%,-50%); padding-top:10px; padding-left:20px; padding-right:20px; visibility: hidden; background-attachment:scroll;}

/* 필수입력항목 <i class="fa fa-asterisk" aria-hidden="true"></i> */
.essential { font-size:0.8rem; vertical-align:bottom; margin:20px 0 10px 0; }

/* search */
.search_wrap { margin-bottom:10px; }
.boardtop { margin-bottom:10px; }
.board_page { margin-top:13px; font-size:1.2rem; }
.board_page .total { margin-right:8px; padding-right:10px; border-right:1px solid #ccc; }
.board_page strong { color:#ff282d; font-weight: 400}
.board_page select { height:34px; }
.board_page .view { display:inline-block; color:#003b9c; font-size:1.0rem; margin-top:10px; }
.board_page .view:hover { text-decoration:underline; }

.selectText {padding-left: 10px;}

.search_wrap { }
.search_wrap select { border:1px solid #ccc !important; height:34px; }
.search_wrap input[type="text"], .tableline_login input[type="text"] { border:1px solid #ccc; z-index:1; font-size:1.0rem; height:32px; padding-left:10px; }
input.date { background:url(../images/kiria/datepicker_bg.png) no-repeat 95% center; cursor:pointer; } /* input의 datepicker화*/
.search_wrap button { line-height:32px !important; height:34px !important; z-index:10; }
.search_wrap span { font-size:1.0rem; margin-right:3px; }
.search_wrap span.duration_title { line-height:34px; }

/* tableline */
.admin_table td { white-space:normal !important; } 
table td label { white-space:nowrap; padding:4px 5px 4px 3px; }
table td label:hover { background:#fff196; color:#1e1e1e; border-radius:10px; } 
table tbody tr td { line-height:2 !important; }
.admin_table td .graph { height:12px; }
.admin_table td .graph01 { background:#8bdae2; }
.admin_table td .graph02 { background:#81d4fa; }
.admin_table td .graph03 { background:#c2cefa; }
.admin_table tfoot th { background:#d7dade !important; }
.admin_table tfoot td { background:#d7dade; border-bottom:1px solid #94a4bd; color:#000; }
.admin_table tfoot tr:hover, .admin_table tfoot tr:hover td { background:#d7dade !important; }

/* tableline */
.tableline { width:100%; border-top:2px solid #74849f; border-bottom:1px solid #bbb; margin-bottom:20px; border-right:1px solid #dedede; }
.tableline tr:hover { background:#f0f2f5; }
.tableline tr:hover td { background:#f0f2f5 !important; }
.tableline tr th { font-size:1.0rem; font-weight:400; padding:10px 5px; background:#c8c8c8; color:#000; text-align:center; border-bottom:1px solid #8b8e94; border-top:1px solid #8b8e94 !important; vertical-align:middle; letter-spacing:0; border-left:1px solid #e2e5ec; }
.tableline th a, .tableline th a:hover, .tableline th a:visited {color:#000 !important;}
.tableline td { border-bottom:1px solid #ddd; border-left:1px solid #dedede; font-weight:300; padding:5px 15px; color:#6f6f6f; text-align:center; vertical-align:middle; font-size:1.0rem; line-height:1.6; letter-spacing:0; background:#fff; }
.tableline td img { width: 750px; height: auto; vertical-align: baseline}
.tableline td a, .tableline td a:visited, .tableline td a:hover { color:#01579b; }
.tableline td a i.fa-caret-circle-up, .tableline td a i.fa-caret-circle-down { color: #4d6fff !important}
.tableline td a i.fa-times-circle { color: #ff282d !important}
.tableline td a:hover { text-decoration:underline; }
.tableline th i { color:#897d70; margin-right:4px; }
.tableline td a i {color:#6f6f6f !important; font-size: 1.0rem}
.tableline td.on { background: #ccc}
.tableline td span i { position:relative; top:1px; margin-right:3px; }
.tableline td.textright { text-align:right; }
.tableline td select { border:1px solid #ccc !important; height:34px; }
.textleft_1 tr td:nth-child(1) { text-align:left; }
.textleft_2 tr td:nth-child(2) { text-align:left; }
.textleft_3 tr td:nth-child(3) { text-align:left; }
.textleft_4 tr td:nth-child(4) { text-align:left; }
.textleft_5 tr td:nth-child(5) { text-align:left; }
.textleft_6 tr td:nth-child(6) { text-align:left; }
.textleft_7 tr td:nth-child(7) { text-align:left; }


/* tableline_login */
.tableline_login { width:80%; border-top:2px solid #74849f; border-bottom:1px solid #bbb; margin-bottom:20px; border-right:1px solid #dedede; }
.tableline_login tr:hover { background:#f0f2f5; }
.tableline_login tr:hover td { background:#f0f2f5 !important; }
.tableline_login tr th { font-size:1.0rem; font-weight:400; padding:10px 5px; background:#c8c8c8; color:#000; text-align:center; border-bottom:1px solid #8b8e94; border-top:1px solid #8b8e94 !important; vertical-align:middle; letter-spacing:0; border-left:1px solid #e2e5ec; }
.tableline_login th a, .tableline_login th a:hover, .tableline_login th a:visited {color:#000 !important;}
.tableline_login td { border-bottom:1px solid #ddd; border-left:1px solid #dedede; font-weight:300; padding:5px 15px; color:#6f6f6f; text-align:center; vertical-align:middle; font-size:1.0rem; line-height:1.6; letter-spacing:0; background:#fff; }
.tableline_login td img { width: 750px; height: auto; vertical-align: baseline}
.tableline_login td a, .tableline_login td a:visited, .tableline_login td a:hover { color:#01579b; }
.tableline_login td a i.fa-caret-circle-up, .tableline_login td a i.fa-caret-circle-down { color: #4d6fff !important}
.tableline_login td a i.fa-times-circle { color: #ff282d !important}
.tableline_login td a:hover { text-decoration:underline; }
.tableline_login th i { color:#897d70; margin-right:4px; }
.tableline_login td a i {color:#6f6f6f !important; font-size: 1.0rem}
.tableline_login td.on { background: #ccc}
.tableline_login td span i { position:relative; top:1px; margin-right:3px; }
.tableline_login td.textright { text-align:right; }
.tableline_login td select { border:1px solid #ccc !important; height:34px; }
.textleft_1 tr td:nth-child(1) { text-align:left; }
.textleft_2 tr td:nth-child(2) { text-align:left; }
.textleft_3 tr td:nth-child(3) { text-align:left; }
.textleft_4 tr td:nth-child(4) { text-align:left; }
.textleft_5 tr td:nth-child(5) { text-align:left; }
.textleft_6 tr td:nth-child(6) { text-align:left; }
.textleft_7 tr td:nth-child(7) { text-align:left; }


/* tablelist */
.tablelist { width:100%; border-top:2px solid #74849f}
.tablelist thead th { font-size:1.0rem; font-weight:400; padding:10px; background:#e9ecf0; color:#000; border-bottom:1px solid #94a4bd; }
.tablelist tbody tr:hover { background:#f0f2f5;}
.tablelist tbody tr td:nth-child(2) { text-align:left; }
.nth2center tbody tr td:nth-child(2) { text-align:center !important; }
.tablelist tr td { border-bottom:1px solid #dedede; font-weight:400; padding:12px 5px; text-align:center; color:#6f6f6f; vertical-align:middle; font-size:1.0rem; letter-spacing:0; }
.tablelist tr td a, .tablelist tr td a:hover, .tablelist tr td a:visited {color:#00235c; }
.tablelist tr td a:hover { text-decoration:underline;}
.textleft i { margin-left:5px;}
td.textleft > i.fa { margin-left:0 !important; margin-right:5px; vertical-align:middle }
.nohover tr:hover { background:none !important }
.nohover tr:hover td { background:none !important; }
.tablelist input[type="text"], .tablelist input[type="password"] {font-size:1.0rem; padding:5px 10px; height:20px; vertical-align:top !important }
.tablelist input {border:1px solid #cdcdcd; }
.tablelist td.company_logo { width:140px; height:auto; }
.tablelist th.company_title { background:#fff; font-size:1.0rem; padding:20px 0; color:#0277bd; }
.tablelist td .tooltip { width:170px !important; }
.tablelist td .tooltip span.news_indu { width:170px; overflow:hidden; text-overflow:ellipsis; display:block; white-space:nowrap; }

/* tablewrite */
.tablewrite th.th_title, .tableview th.th_title { background:#f3f6fa; color:#002054; /*border-right:1px solid #e2e5ec; border-left:1px solid #e2e5ec;*/ }
.tablewrite th i.fa-asterisk { color:#ff282d !important; margin-left:3px; font-size:1rem; position:relative; top:-2px; }
.tablewrite td i.fa-asterisk { color:#ff282d !important; margin:0 3px; font-size:1.0rem; position:relative; top:-2px; }
.tablewrite { width:100%; border-top:2px solid #74849f; margin-bottom:20px; }
.tablewrite tr th { font-size:1.0rem; font-weight:400; padding:10px 5px; background:#e9ecf0; color:#000; text-align:center; border-bottom:1px solid #bbb; border-top:1px solid #bbb !important; vertical-align:middle; }
.tablewrite td { border-bottom:1px solid #dedede; padding:5px; color:#6f6f6f; text-align:left; vertical-align:middle; font-size:1.0rem; min-height:32px; letter-spacing:0; line-height:1.6; }
.tablewrite td > span { line-height:32px; font-size:1.0rem; color:#505050; margin:0 5px; }
.tablewrite .cke_reset { width: 100% !important}
.tablewrite td .textArea span { line-height: normal; margin: 0 !important}
.tablewrite td span.k-widget, .tablewrite td span.k-picker-wrap{ margin:0 !important; }
.tablewrite td button { /*position:relative; top:1px;*/  }
.tablewrite select {font-size:1.0rem; padding:5px 10px; height:32px; border:1px solid #bfbfbf; vertical-align: middle}
.tablewrite input[type="text"], .tablewrite input[type="password"], .tableview input[type="password"] {font-size:1.0rem; padding:5px 15px; height:20px; vertical-align:middle !important }
.tablewrite textarea { box-sizing:border-box; padding:10px; border:1px solid #bfbfbf}
.tablewrite td a i, .tablewrite td a:hover i, .tablewrite td a:visited i { color:#6d6d6d;}
.tablewrite td p { padding:10px 0 10px 10px ; line-height:1.2; }
.tablewrite td label span { margin-right:8px; line-height:1.5 !important; }
.tablewrite th i { color:#897d70; margin-right:4px; }
.tablewrite td i { color:#6f94d0; margin-left:5px; font-size:1.0rem; line-height:32px; cursor:pointer; transition:.3s; }
.tablewrite td i:hover { color:#5d7caf; transition:.3s; }
.tablewrite td i.fa-times { color:#dc232a; }
.tablewrite td .fa-check-circle { font-size:1.0rem; color:#248b1e; margin-right:4px; position:relative; top:1px; }
.tablewrite td label { margin-right:10px; }
.tablewrite td input[type="radio"], .tablewrite td input[type="checkbox"] {}
.tablewrite td.lh2 { line-height:2.0; } 
.tablewrite td label img { vertical-align:middle; position:relative; top:-1px; margin-right:4px; }
.tablewrite td label span { padding:3px 5px; border-radius:2px; margin:0 !important; color:#fff !important; }
.tablewrite td label span.title01 { background:#0096ff; border:1px solid #0086e4; }
.tablewrite td label span.title02 { background:#50b221; border:1px solid #44951d; }
.tablewrite td label span.title03 { background:#ff5c5c; border:1px solid #ff2525; }
.tablewrite td p.stat_write { font-size:1.1rem; line-height:1.6; }
.tablewrite td p.stat_write i { margin-left:0; font-size:1.2rem; }


.font_about_me { font-weight: bold; font-size: 35px; }
.font_about_me_content { font-weight: bold; font-size: 18px; }


/* pagination */
.pageNum {/* width: 100%;*/ text-align: center; }

.btn-default { color: #333; background-color: #fff; border-color: #ccc;}
.btn {display: inline-block; padding: 6px 12px; margin-bottom: 0px; font-size: 13px; line-height: 1.4285; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none;    -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid #ccc; border-radius: 4px;}

.btngroup { margin:20px 0 30px 0;}
table tbody tr td .btngroup { margin:0 !important; }
.btngroup button { height:40px !important; padding:0 30px !important; }

.btn01 { font-size:0.8rem !important; padding:0 13px; height:36px; border:1px solid #b2bccb; vertical-align:top; transition:.3s; cursor:pointer; background:#fff; color:#627ca6; } 
.btn01:hover { background:#fff; transition:.3s; border:1px solid #60779d; color:#60779d !important; cursor:pointer; }
.btn01s { font-size:0.8rem !important; padding:0 13px; height:32px; border:1px solid #b2bccb; vertical-align:middle; transition:.3s; cursor:pointer; background:#fff; color:#627ca6; } 
.btn01s:hover { background:#fff; transition:.3s; border:1px solid #60779d; color:#60779d !important; cursor:pointer; }
.btn02 { font-size:0.8rem !important; padding:0 13px; height:30px; border:1px solid #b8c5ff; vertical-align:top; transition:.3s; cursor:pointer; background:#fff; color:#4d6fff; } 
.btn02:hover { background:#fff; transition:.3s; border:1px solid #4d6fff; color:#4d6fff !important; cursor:pointer; }
.btn03 { font-size:0.8rem !important; padding:0 13px; height:36px; border:1px solid #c8c8c8; vertical-align:top; transition:.3s; cursor:pointer; background:#fff; color:#555; } 
.btn03:hover { background:#fff; transition:.3s; border:1px solid #787878; color:#3c3c3c !important; cursor:pointer; }
.btn04 { font-size:0.8rem !important; padding:0 13px; height:36px; border:1px solid #98dbe2; vertical-align:top; transition:.3s; cursor:pointer; background:#fff; color:#16b6c6; } 
.btn04:hover { background:#fff; transition:.3s; border:1px solid #16b6c6; color:#109aa8 !important; cursor:pointer; }
.btn05 { font-size:0.8rem !important; padding:0 13px; height:36px; border:1px solid #f1a7aa; vertical-align:top; transition:.3s; cursor:pointer; background:#fff; color:#ff282d; } 
.btn05:hover { background:#fff; transition:.3s; border:1px solid #ff282d; color:#dc232a !important; cursor:pointer; }
.btn06 { font-size:0.8rem !important; padding:0 13px; height:36px; border:1px solid #9aaac4; vertical-align:top; transition:.3s; cursor:pointer; background:#fff; color:#002054; } 
.btn06:hover { background:#f2f4f6; transition:.3s; border:1px solid #002054; color:#002054 !important; cursor:pointer; }

.btn_rv1_div { border:3px solid #000; text-align: center; font-weight: bold; font-size: 18px;}
.btn_rv1_img { width:60px; height:60px; padding:10px; background:url( ../icon_loginview/9846051.png); background-size:cover; border:#fff; vertical-align:top; cursor:pointer;}
.btn_rv1_div:hover { /* background-color:#000; color:#fff; */ filter: opacity(0.5); } 


