<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ljy.third.dao.fileEditorContentMapper">

	<select id="fileEditorContentListMax" resultType="String">
	 
		SELECT MAX(CODE)
		FROM FILE_EDITORCONTENT_TABLE
		 
	</select>
	
	<insert id="insertContentFileDAO">
	  
	  	INSERT INTO FILE_EDITORCONTENT_TABLE(code, siteCode, fid, fsign, fpath, savingFname, fname)
	  	VALUES
	         (
	         <!-- //#{fileVO.value} -->
				#{code},
				#{siteCode},
				#{fid},
				#{fsign},
				#{fpath},
				#{savingFname},
				#{fname}
	         )
	  
	  </insert>
	  
    

</mapper>