<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ljy.third.dao.FileMapper">


	<select id="selectFileList" resultType="com.ljy.third.vo.FileVO">
		SELECT code, fid, fsign, fpath, savingFname, fname
		FROM FILE_TABLE
		WHERE siteCode = #{code} 
		AND fid = #{fid}
	</select>
	
	<select id="selectAtchFileCount" resultType="int">
		SELECT COUNT(fid)
		FROM FILE_TABLE
		WHERE fid = #{fid}
		
		<!-- 
		<if test="fid != null || fid != '' " >
			WHERE fid = #{fid}
		</if>
		 -->
		
	</select>
	
	<select id="selectFileSign" resultType="int">
		SELECT COUNT(fsign)
		FROM FILE_TABLE
		WHERE fid = #{atchFileId}
	</select>
	
	<select id="selectFileCodeMax" resultType="com.ljy.third.vo.FileVO">
	
		SELECT *
		FROM FILE_TABLE
		ORDER BY code DESC LIMIT 1
	
	</select>
	
	<select id="selectFileIdMax" resultType="String">
	
		SELECT MAX(fid)
		FROM FILE_TABLE
	
	</select>
	
		
	<update id="updateFileCode">
	
		UPDATE	tb_${siteCode}
		SET		atchFileId = ""
		WHERE 	code = #{b_fileCode}
	
	</update>
	
	
	<update id="updateFileSign">
	
		UPDATE	FILE_TABLE
		SET		fsign = #{fsign}
		WHERE 	code = #{code}
	
	</update>
	
	<delete id="deleteFileMenu">
	
		DELETE FROM FILE_TABLE
		WHERE code = #{code}
	
	</delete>
	
	<delete id="deleteFileArray">
	
		DELETE FROM FILE_TABLE
		WHERE code IN
		  <foreach item="mDelArray" collection="array" index="i" open="(" separator="," close=")"> 
		 	#{mDelArray}
		 </foreach>
		<!-- IN구문을 쓰지 않으면 FOREACH가 작동을 안함 -->
	</delete>
	
</mapper>
