<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ljy.third.dao">
	
	<select id="selectFormMenuList" resultType="com.ljy.third.vo.FormMenuVO">
	        SELECT		formCode,
	        			formName,
	        			del_chk,
	        			frstRegistNm
	        			
	        FROM FORM_TABLE
	        WHERE 1=1
	        
	        <if test="header_call == 'true'" >
	        	AND del_chk = 'N'
	        </if>
	        
	        <!-- start 레코드부터 size값만큼 레코드를 뽑아냄 -->
	        
	        <if test="searchCnd == null" >
				<![CDATA[	AND	(formName LIKE CONCAT ('%', #{searchWrd},'%') OR frstRegistNm LIKE CONCAT ('%', #{searchWrd},'%') )  ]]>
			</if>
		    <if test="searchCnd == 0" >
				<![CDATA[	AND	formName LIKE CONCAT('%',#{searchWrd} ,'%')  ]]>
			</if>
			<if test="searchCnd == 1" >
				<![CDATA[	AND	frstRegistNm LIKE CONCAT('%',#{searchWrd} ,'%')  ]]>
			</if>
			
	        
    </select>

	<select id="lookFormMenuCnt" resultType="int">
	        SELECT count(formCode)
	        FROM FORM_TABLE
	        WHERE 1=1
	        
	       
	        <if test="searchCnd == null" >
				<![CDATA[	AND	(formName LIKE CONCAT ('%', #{searchWrd},'%') OR frstRegistNm LIKE CONCAT ('%', #{searchWrd},'%') )  ]]>
			</if>
		    <if test="searchCnd == 0" >
				<![CDATA[	AND	formName LIKE CONCAT('%',#{searchWrd} ,'%')  ]]>
			</if>
			<if test="searchCnd == 1" >
				<![CDATA[	AND	frstRegistNm LIKE CONCAT('%',#{searchWrd} ,'%')  ]]>
			</if>
			
	        
    </select>
    
    
    <select id="selectFormMenuMax" resultType="String">
	        SELECT max(formCode)
	        FROM FORM_TABLE
	 </select>

	<select id="lookFormMenuOne" resultType="com.ljy.third.vo.FormMenuVO">
	        SELECT 
	        	formCode,
	        	formName,
	        	del_chk,
	        	frstRegistNm
	        	
	        FROM FORM_TABLE
	        WHERE formCode = #{formCode}
    </select>
    
    <select id="selectFormMenuSiteList" resultType="com.ljy.third.vo.site.SiteMenuVO">
    
    	SELECT siteCode, title, formCode
    	FROM SITE_TABLE
    	WHERE formCode = #{formCode}
    	and del_chk = 'N'
    
    </select>

	<insert id="insertFormMenu">
		 
			INSERT INTO FORM_TABLE (
				formCode,
				formName,
				frstRegistNm,
				frstRegistPnttm
				
			) VALUES (
				#{formCode},
				#{formName},
				#{frstRegistNm},
				now()
			) 
		
	</insert>
	
	<update id="updateFormMenu">
		 
		UPDATE	FORM_TABLE
			
		SET
			formName = #{formName}
			,frstRegistNm=#{frstRegistNm}
			,lastUpdtPnttm=now()
			
		WHERE formCode = #{formCode}
		
	</update>
	
	<update id="disableFormMenu">
		UPDATE FORM_TABLE SET
			del_chk = 'Y'
		WHERE formCode = #{formCode}
	</update>
	
	<delete id="deleteFormMenu">
		 
			DELETE FROM FORM_TABLE
			WHERE formCode = #{formCode}
		
	</delete>
	
	<update id="deleteFormSiteMenu">
		 
		UPDATE	SITE_TABLE
			
		SET formcode = null
			
		WHERE formCode = #{formCode}
		
	</update>
	
	<update id="restoreFormMenu">
		UPDATE FORM_TABLE SET
			del_chk = 'N'
		WHERE formCode = #{formCode}
	</update>

</mapper>