<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ljy.third.dao.memberMapper">
 
 	<select id="selectBoardDAO" resultType="com.ljy.third.vo.BoardVO">
	        SELECT *
	        FROM product
	        WHERE 1=1
	        ORDER BY b_date DESC,  b_code DESC
	        LIMIT #{pageIndex}, #{recordCountPerPage} 
	        <!-- start 레코드부터 size값만큼 레코드를 뽑아냄 -->
    </select>
    
    <select id="countBoardDAO" resultType="int">
	        SELECT count(b_code)
	        FROM product
    </select>
    
    <select id="oneBoardDAO" resultType="com.ljy.third.vo.BoardVO">
	        SELECT b_code
	        FROM product
	        ORDER BY b_code DESC
	        LIMIT 0,1
    </select>
    
    <select id="lookBoardDAO" resultType="com.ljy.third.vo.BoardVO">
	        SELECT *
	        FROM product
	        WHERE b_code = #{b_code}
	        LIMIT 0,1
    </select>
    
    <select id="lookFileBoardDAO" resultType="com.ljy.third.vo.FileVO">
	        SELECT *
	        FROM FILE_TABLE
	        WHERE fid = #{b_file_id}
    </select>
    
    <select id="lookOneFileBoardDAO" resultType="com.ljy.third.vo.FileVO">
	        SELECT *
	        FROM FILE_TABLE
	        WHERE fid = #{b_file_id} AND fname = #{b_file_name}
    </select>
    
    <select id="lookOneFileBoardDAO2" resultType="com.ljy.third.vo.FileVO">
	        SELECT *
	        FROM FILE_TABLE
	        WHERE code = #{code}
    </select>
    
    <insert id="insertBoardDAO">
    
    	INSERT INTO product(b_code, b_id, b_password, b_title, b_context, b_date, b_hit, b_file_id)
    	VALUES(
		#{b_code},
		#{b_id},
		#{b_password},
		#{b_title},
		#{b_context},
		now(),
		1,
		#{b_file_id}
		)
    
    </insert>
    
    <insert id="insertfileBoardDAO">
    
    	INSERT INTO FILE_TABLE(code, siteCode, fid, fsign, fpath, savingFname, fname)
    	VALUES
    	
    	<foreach collection="list" item="fileVO" separator=" , " >
           (
           <!-- //#{fileVO.value} -->
           	#{fileVO.code},
           	#{fileVO.siteCode},
            #{fileVO.fid},
            #{fileVO.fsign},
            #{fileVO.fpath},
            #{fileVO.savingFname},
            #{fileVO.fname}
           )
           
       	</foreach>
    
    </insert>
    
    <select id="deleteBoardDAO">
	        DELETE FROM product
	        WHERE b_code = #{b_code}
    </select>
    
    <update id="updatehitBoardDAO">
    
	    UPDATE product
	    SET b_hit = b_hit + 1
		WHERE b_code = #{b_code}
    
    </update>
    
	<!-- 본격적으로 쿼리구문을 뽑아오는 매퍼 -->
    
</mapper>


