<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ljy.third.dao">
	
	<select id="selectSiteMenuList" resultType="com.ljy.third.vo.site.SiteMenuVO">
	        SELECT	siteCode,
	        			title,
	        			adminName,
	        			del_chk
	        			
	        FROM SITE_TABLE
	        WHERE 1=1
	        <!-- start 레코드부터 size값만큼 레코드를 뽑아냄 -->
	        
	        <if test="searchCnd == null" >
				<![CDATA[	AND	(title LIKE CONCAT ('%', #{searchWrd},'%') OR adminName LIKE CONCAT ('%', #{searchWrd},'%') )  ]]>
			</if>
		    <if test="searchCnd == 0" >
				<![CDATA[	AND	title LIKE CONCAT('%',#{searchWrd} ,'%')  ]]>
			</if>
			<if test="searchCnd == 1" >
				<![CDATA[	AND	adminName LIKE CONCAT('%',#{searchWrd} ,'%')  ]]>
			</if>
			
			
	        ORDER BY frstRegistPnttm DESC,  siteCode DESC
	        LIMIT #{pageIndex}, #{recordCountPerPage} 
	        
    </select>

	<select id="lookSiteMenuCnt" resultType="int">
	        SELECT count(siteCode)
	        FROM SITE_TABLE
	        WHERE 1=1
	        
	       <if test="searchCnd == null" >
				<![CDATA[	AND	(title LIKE CONCAT ('%', #{searchWrd},'%') OR adminName LIKE CONCAT ('%', #{searchWrd},'%') )  ]]>
			</if>
		    <if test="searchCnd == 0" >
				<![CDATA[	AND	title LIKE CONCAT('%',#{searchWrd} ,'%')  ]]>
			</if>
			<if test="searchCnd == 1" >
				<![CDATA[	AND	adminName LIKE CONCAT('%',#{searchWrd} ,'%')  ]]>
			</if>
	        
    </select>
    
    <select id="selectSiteMenuRecent" resultType="com.ljy.third.vo.site.SiteMenuVO">
	        SELECT *
	        FROM SITE_TABLE
       		ORDER BY siteCode DESC
       		LIMIT 1
	        
	</select>
    
    
    <select id="selectSiteMenuMax" resultType="String">
	        SELECT max(siteCode)
	        FROM SITE_TABLE
	 </select>

	<select id="selectSiteMenuOne" resultType="com.ljy.third.vo.site.SiteMenuVO">
	        SELECT 
	        	siteCode,
	        	title,
	        	formCode,
	        	adminName,
	        	del_chk,
	        	typeName,
	        	templateType,
	        	maxFileUploadNumber,
	        	fileUploadType,
	        	placeRow,
	        	placeName,
	        	placeWidth
	        	
	        FROM SITE_TABLE
	        WHERE siteCode = #{siteCode}
    </select>
    
    <select id="selectSiteMenuFormList" resultType="com.ljy.third.vo.FormMenuVO">
    
    		SELECT		formCode,
	        				formName
	        			
	        FROM FORM_TABLE
    
    </select>
    
    <select id="selectSiteField" resultType="com.ljy.third.vo.site.SiteMenuVO">
    
    		SELECT COLUMN_NAME
			FROM Information_schema.columns
			WHERE table_name = 'TB_${siteCode}'
	        
	        
	        <if test="fieldNumber != '' and fieldNumber != null">

		        AND ORDINAL_POSITION IN
		        <foreach item="item" index="index" collection="fieldNumber"  open="(" close=")"  separator="," >
				        ${item}
				</foreach>
			
			</if>
			
			ORDER BY ORDINAL_POSITION
    
    </select>
    
    <select id="selectFileValidateInfo" resultType="com.ljy.third.vo.site.SiteMenuVO">
	        SELECT siteCode, maxFileUploadNumber, fileUploadType
	        FROM SITE_TABLE
	        WHERE siteCode = #{siteCode}
	 </select>

	<insert id="insertSiteMenu">
		 
			INSERT INTO SITE_TABLE (
				siteCode,
				title,
				adminName,
				formCode,
				templateType,
				maxFileUploadNumber,
				fileUploadType,
				placeRow,
				placeWidth,
				frstRegistPnttm
				
			) VALUES (
				#{siteCode},
				#{title},
				#{adminName},
				#{formCode},
				#{templateType},
				#{maxFileUploadNumber},
				#{fileUploadType},
				#{placeRow},
				#{placeWidth},
				now()
			) 
		
	</insert>
	
	<update id="insertSiteTable">
	
		CREATE TABLE TB_${siteCode} (
				`code` VARCHAR(20) NOT NULL COMMENT '코드명은 ???',
				`title` VARCHAR(250) NULL DEFAULT NULL COMMENT '제목',
				`context` LONGTEXT NULL COMMENT '내용',
				`atchFileId` VARCHAR(40) NULL COMMENT '첨부파일',
				`writerID` VARCHAR(50) NULL DEFAULT NULL COMMENT '작성자 ID',
				`frstRegistPnttm` DATETIME NULL DEFAULT NULL COMMENT '최초 게시물 작성시간',
				`frstRegistNm` VARCHAR(50) NULL DEFAULT NULL COMMENT '최초 게시물 작성자',
				`lastUpdtPnttm` DATETIME NULL DEFAULT NULL COMMENT '최종 게시물 수정시간',
				`lastUpdtNm` VARCHAR(50) NULL DEFAULT NULL COMMENT '최종 게시물 수정자',
				`viewNum` INT NOT NULL DEFAULT 0 COMMENT '조회수',
				`del_chk` ENUM('Y', 'N') NULL DEFAULT 'N' COMMENT '삭제여부',
				`notice_chk` ENUM('Y', 'N') NULL DEFAULT 'N' COMMENT '공지사항여부',
				PRIMARY KEY (`CODE`)
			)
			COMMENT='사이트관리 >> 게시판관리 >> ${siteCode} >> 생성된 테이블'
	
	</update>
	
	<update id="updateSiteMenu">
		 
		UPDATE	SITE_TABLE
			
		SET
			title = #{title}
			,adminName=#{adminName}
			,formCode = #{formCode}
			,templateType  = #{templateType}
			,maxFileUploadNumber  = #{maxFileUploadNumber}
			,fileUploadType  = #{fileUploadType}
			,placeRow  = #{placeRow}
			,placeWidth  = #{placeWidth}
			,lastUpdtPnttm=now()
			
		WHERE siteCode = #{siteCode}
		
	</update>
	
	<!-- 필드의 표시항목을 변경하는 sql문 -->
	<update id="updateSiteField">
		UPDATE SITE_TABLE SET
			placeName = #{placeName}
		WHERE siteCode = #{siteCode}
	</update>
	
	<update id="disableSiteMenu">
		UPDATE SITE_TABLE SET
			del_chk = 'Y'
		WHERE siteCode = #{siteCode}
	</update>
	
	<update id="deleteSiteTableDelete">
			DROP TABLE TB_${siteCode}
	</update>
	
	<delete id="deleteSiteMenu">
		 
			DELETE FROM SITE_TABLE
			WHERE siteCode = #{siteCode}
		
	</delete>
	
	<update id="restoreSiteMenu">
		UPDATE SITE_TABLE SET
			del_chk = 'N'
		WHERE siteCode = #{siteCode}
	</update>
	
		<!-- 게시판 작성 화면의 템플릿 유형을 불러오는 sql문 -->
	<select id="siteTemplateTypeInput" resultType="com.ljy.third.vo.SysCodeVO">
			
	        SELECT code, formName
	        FROM TEMPLATEFIELD_TABLE
	        WHERE 
	        <if test="code == 'NONE'" >
	        	<![CDATA[	1 = 1  ]]>
	        </if>
	        <if test="code != 'NONE'" >
	        	code = #{code}
	        </if>
    </select>
	
	<!-- 게시판 작성 화면의 field값을 불러오는 sql문 -->
	<select id="siteFieldInput" resultType="com.ljy.third.vo.SysCodeVO">
			
	        SELECT temFieldName, temFieldCharge, sysOutNum
	        FROM TEMPLATEFIELDCODE_TABLE
	        WHERE temCodeHead LIKE CONCAT('%','${temCodeHead}' ,'%')
	        
    </select>

</mapper>